html {
    background: url("https://images.unsplash.com/photo-1530482817083-29ae4b92ff15?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44f4aebbd1e1371d5bf7dc22016c5d29&w=1000&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  margin: auto;
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  width: 500px;
  color: white;
}

a {
  color: #00B7FF;
}
